<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.medicalequipmentbiding">

    <application
        android:name=".AppBase"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FullScreenAppTheme"
        tools:targetApi="31">
        <activity
            android:name=".presentation.AdminActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.vendor.VendorOffersHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.vendor.OrderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.client.OfferDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.client.AwardingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.client.NewBidingOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.vendor.ActiveBidingListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.client.ClientBidingListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.authentication.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.authentication.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>